In [19]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt
from patsy import dmatrix
from sklearn.metrics import mean_squared_error
from pyearth import Earth
from sklearn.metrics import roc_curve, precision_recall_curve, auc, make_scorer, recall_score, accuracy_score, precision_score, confusion_matrix
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_predict, cross_val_score, cross_validate
from patsy import dmatrix
import statsmodels.formula.api as smf
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import accuracy_score, mean_absolute_error, mean_squared_error, r2_score, roc_curve, auc, precision_score, recall_score, confusion_matrix

from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV, ParameterGrid
from sklearn.ensemble import BaggingRegressor,BaggingClassifier,RandomForestClassifier, RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import SCORERS

#Libraries for visualizing trees
from sklearn.tree import export_graphviz
from six import StringIO
from IPython.display import Image

#import pydotplus
import time as tm

import itertools as it

# Data quality check / cleaning / preparationÂ¶

### Cleaning - Training Data

In [20]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')



# Create Credit Ratings based on Investopedia Values
train['Credit_Rating'] = 0
train['Credit_Rating'] = np.where(train['Credit_Score'] == 'Good',
                          np.random.uniform(670, 730, size=len(train)),
                          train['Credit_Rating'])

train['Credit_Rating'] = np.where(train['Credit_Score'] == 'Standard',
                          np.random.uniform(580, 670, size=len(train)),
                          train['Credit_Rating'])

train['Credit_Rating'] = np.where(train['Credit_Score'] == 'Poor',
                          np.random.uniform(0, 580, size=len(train)),
                          train['Credit_Rating'])



# Drop irrelevant columns
columns_to_drop = ['Customer_ID', 'Month', 'Name', 'SSN', 'Occupation', 'Interest_Rate',
                    'Type_of_Loan', 'Delay_from_due_date', 'Payment_Behaviour', 'Credit_History_Age']

train.drop(columns_to_drop, axis=1, inplace=True)



# Removing invalid characters from columns
mix_type_num_col = ['Age', 'Annual_Income', 
                    'Num_of_Delayed_Payment','Changed_Credit_Limit',
                    'Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']

def set_numeric_columns(features,df=None):

    df[features]=df[features].apply(lambda x: x.replace('_','',regex=True) )
    df[features]=df[features].apply(lambda x: x.str.strip())
    df[features]=df[features].apply(lambda x: x.replace('',np.nan))
    df[features[1:]]=df[features[1:]].astype('float32')
    df[features[0]]=df[features[0]].astype('int32')

set_numeric_columns(mix_type_num_col,df=train)

In [21]:
train = train.dropna()
train.dtypes

ID                           object
Age                           int32
Annual_Income               float32
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Num_of_Loan                  object
Num_of_Delayed_Payment      float32
Changed_Credit_Limit        float32
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float32
Credit_Utilization_Ratio    float64
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float32
Monthly_Balance             float32
Credit_Score                 object
Credit_Rating               float64
dtype: object

In [11]:
y = train.Credit_Rating
X = train.drop(columns = 'Credit_Rating')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 45)

X = X_train[X_train.columns]
y = y_train

X

,ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Num_of_Loan,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score
10018,0x50b4,23,33882.601562,2841.550000,6,7,2,8.0,7.550000,6.0,Standard,1240.479980,34.549838,Yes,36.260748,298.868805,239.025452,Standard
77728,0x1dd72,30,9970.160156,625.846667,7,6,8,25.0,19.840000,6.0,Bad,2663.530029,25.685077,Yes,42.000964,72.692162,237.891541,Standard
10580,0x53fe,23,14647.905273,1105.658750,0,3,3,4.0,8.770000,6.0,_,1196.729980,25.180817,No,21.802704,63.222603,315.540558,Standard
69205,0x1ab7f,20,40702.960938,3536.913333,6,6,5,23.0,25.820000,10.0,Bad,2667.870117,31.622591,Yes,110.197858,76.682106,406.811371,Standard
38151,0xf589,19,20067.050781,1653.254167,10,5,6,24.0,17.940001,16.0,Bad,4097.100098,29.102069,Yes,62.460752,129.792953,263.071716,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12895,0x618d,48,98509.710938,8197.142500,5,6,1,9.0,7.380000,8.0,Standard,83.940002,38.839801,No,55.703407,698.412903,355.597931,Poor
60960,0x17b32,18,71936.882812,NaN,5,6,7,15.0,13.040000,6.0,Standard,2644.199951,24.663440,Yes,387.770503,132.784302,320.119202,Standard
6012,0x393a,20,42435.628906,3657.302500,8,6,8,25.0,23.379999,6.0,Bad,4656.189941,35.057640,Yes,281.501149,73.373009,250.856094,Standard
63107,0x187c5,40,73948.039062,6025.336667,6,3,1,NaN,13.590000,1.0,Standard,359.140015,28.349008,Yes,58.016785,510.255127,304.261749,Standard
6558,0x3c6c,38,20758.369141,1458.864167,0,5,4,7.0,7.910000,7.0,Good,1328.239990,26.129658,No,53.704970,36.284939,315.896515,Standard

# Base Model

In [4]:
model = DecisionTreeRegressor(random_state=1)
model.fit(X, y)

ValueError: could not convert string to float: '0x50b4'